body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../image/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 360px;
    text-align: center;
}

.logo-img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: #0078D7;
    margin-bottom: 25px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 15px;
}

.options a {
    text-decoration: none;
    color: #0078D7;
}

.button{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-manage {
    background-color: #0078D7;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc (nếu cần) */
  color: white;
  font-size: 14px;
}

.flag-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag-icon {
  height: 16px;
  width: auto;
}



